<div class="flex justify-center items-center p-2 sm:p-8">
  <div
    class="shadow px-4 py-14 rounded-md bg-white dark:bg-gray-800 max-w-md w-full"
  >
    <h1
      class="text-2xl sm:text-3xl text-center mb-10 dark:text-white text-gray-700"
    >
      Zůstatek dárkové karty
    </h1>
    <ul
      class="border border-dashed divide-y px-2 mb-6 rounded-md dark:text-white"
    >
      <li class="flex justify-between items-center px-2 py-8">
        <span class="font-medium">Číslo karty:</span>
        <span class="font-bold">1234 5678 9012 3456</span>
      </li>
      <li class="flex justify-between items-center px-2 py-8">
        <span class="font-medium">Stav karty:</span>
        <div class="inline-block bg-green-600 px-2 text-white rounded">
          Aktivní
        </div>
      </li>
      <li class="flex justify-between items-center px-2 py-8">
        <span class="font-medium">Kredit:</span>
        <span class="font-bold">820 Kč</span>
      </li>
      <li class="flex justify-between items-center px-2 py-8">
        <span class="font-medium">Expirace karty:</span>
        <span class="font-bold">12. 10. 2020</span>
      </li>
    </ul>
    <button
      class="font-medium w-full px-4 py-2 text-white transition focus:outline-none focus:bg-yellow-500 ring-opacity-50 focus:ring-4 ring-yellow-300 hover:bg-yellow-300 bg-yellow-400 rounded-md"
    >
      Odhlásit se
    </button>
  </div>
</div>

<div class="flex justify-center mt-4">
  <button
    (click)="toggleTheme()"
    class="font-medium px-4 py-2 text-white transition focus:outline-none focus:bg-blue-500 ring-opacity-50 focus:ring-4 ring-blue-300 hover:bg-blue-300 bg-blue-400 rounded-md"
  >
    {{ isDarkMode ? "Změnit na světlý režim" : "Změnit na tmavý režim" }}
  </button>
</div>
